@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  background-color: #FAFAFC;
  color: #424245;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}